{% extends 'base.html' %}

{% block head %} 
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
{% endblock %}

{% block content %}
 	<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links" class="accessories">
            <a href="/img/accesorios/p_9-acc.jpg" title="Naranja">
                <img src="/img/accesorios/p_9-acc.jpg" alt="Naranja">
            </a>
            <a href="/img/accesorios/p_2-acc.jpg" title="Black">
                <img src="/img/accesorios/p_2-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_3-acc.jpg" title="Black">
                <img src="/img/accesorios/p_3-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_4-acc.jpg" title="Black">
                <img src="/img/accesorios/p_4-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_5-acc.jpg" title="Black">
                <img src="/img/accesorios/p_5-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_15-acc.jpg" title="Naranja">
                <img src="/img/accesorios/p_15-acc.jpg" alt="Naranja">
            </a>
            <a href="/img/accesorios/p_10-acc.jpg" title="Black">
                <img src="/img/accesorios/p_10-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_12-acc.jpg" title="Black">
                <img src="/img/accesorios/p_12-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_13-acc.jpg" title="Black">
                <img src="/img/accesorios/p_13-acc.jpg" alt="Black">
            </a>
            <a href="/img/accesorios/p_14-acc.jpg" title="Black">
                <img src="/img/accesorios/p_14-acc.jpg" alt="Black">
            </a>
            <!-- <a href="/img/Hillary_Goldwynn_02.jpg" title="Apple">
                <img src="/img/thumbnails/Hillary_Goldwynn_02_tn.jpg" alt="Apple">
            </a>
            <a href="/img/Hillary_Goldwynn_03.jpg" title="Orange">
                <img src="/img/thumbnails/Hillary_Goldwynn_03_tn.jpg" alt="Orange">
            </a> -->
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/gallery.js"></script>
<script type="text/javascript" src="/js/blueimp-gallery.min.js"></script>
{% endblock %}
