<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="Ropa y accesorios para mujer" />
	<title>CKHeaven boutique</title>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/estilos.css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	{% block header %} 
		{% include 'partials/header.html' %} 
	{% endblock %}
	
	{% block content %}

	{% endblock %}

	{% block footer %} 
		{% include 'partials/footer.html' %} 
	{% endblock %}
	
	{% block scripts %}
		{% include 'partials/scripts.html' %}
	{% endblock %}	
</body>
</html>