{% extends 'base.html' %}

{% block content %}
	<section id="uno">
		<figcaption class="Pie-Foto">
			<h2>Mayo</h2>
            <p>Encuentra este mes lo último en tendencias <br> y lucir sensacional.</p>
        </figcaption>
	</section>
	<section id="contenido">
		<h2 class="titulo-ofertas">Ofertas Especiales</h2>
		<article class="item">
			<figure class="imagen-item">
				<img src="/img/zapatos/8.jpg" alt=""height="147"width="162"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados <br><a class="link" href="#">Ver Más</a></p>
		</article>
		<article class="item">
			<figure class="imagen-item">
				<img src="/img/accesorios/p_9-acc.jpg" alt=""height="147"width="162"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados <br><a class="link" href="#">Ver Más</a></p>
		</article>
	</section><!-- ofertas -->
	<section id="lista">
		<article class="seccion">
			<a class="categoria" href="#">Casual</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<!-- <div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div> -->
			<div class="anotacion">
				<p class="tallas">Vestidos casuales, coctel, calle. <br> <!-- Tallas: S M  L --></p>
			</div>
		</article><!-- casual -->
		<!-- <article class="seccion">
			<a class="categoria" href="#">Coctel</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article> --><!-- coctel -->
		<article class="seccion">
			<a class="categoria" href="#">Zapatos</a>
			<figure class="img-seccion">
				<a href="/zapatos"><img src="/img/zapatos/17.jpg" alt=""height="273.33"></a>
			</figure>
			<!-- <div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div> -->
			<div class="anotacion">
				<p class="tallas">Mira lo que tenemos para ti. <br> <!-- Tallas: S M  L --></p>
			</div>
		</article><!-- zapatos -->
		<article class="seccion">
			<a class="categoria" href="#">Accesorios</a>
			<figure class="img-seccion">
				<a href="/accesorios"><img src="/img/accesorios/p_8-acc.jpg" alt=""height="273.33"></a>
			</figure>
			<!-- <div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div> -->
			<div class="anotacion">
				<p class="tallas">Alternativas para combinar y lucir unica. <br> <!-- Tallas: S M  L --></p>
			</div>
		</article><!-- accsorios -->
		<!-- <article class="seccion">
			<a class="categoria" href="#">Niñas</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article> -->
	</section>
{% endblock %}