{% extends 'base.html' %}

{% block content %}
	<section id="uno">
		<figcaption class="Pie-Foto">
			<h2>Noviembre</h2>
            <p>Encuentra este mes lo último en tendencias <br> y lucir sensacional.</p>
        </figcaption>
	</section>
	<section id="contenido">
		<h2 class="titulo-ofertas">Ofertas Especiales</h2>
		<article class="item">
			<figure class="imagen-item">
				<img src="/img/home/casual2.jpg" alt=""height="147"width="162"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados <br><a class="link" href="#">Ver Más</a></p>
		</article>
		<article class="item">
			<figure class="imagen-item">
				<img src="/img/home/casual2.jpg" alt=""height="147"width="162"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados <br><a class="link" href="#">Ver Más</a></p>
		</article>
	</section>
	<section id="lista">
		<article class="seccion">
			<a class="categoria" href="#">Casual</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Coctel</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Zapatos</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Accesorios</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Niñas</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/home/casual1.jpg" alt=""width="182"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>


		<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
	<div class="container">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<a class="navbar-brand" href="/">
	        	<figure id="logo">
					<img alt="Brand" src="logo.png" alt="" width="180">
				</figure>
	      	</a>
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- <a class="navbar-brand" href="#">Brand</a> -->
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="active">
				<!-- <a href ="/">Home<span class="sr-only">(current)</span></a> -->
				<!-- <a href ="/article/casual">Add <span class="sr-only">(current)</span></a> -->
				<!-- <a href ="/article/add">Casual <span class="sr-only">(current)</span></a> -->
				<!-- <a href ="/article/casual">Casual <span class="sr-only">(current)</span></a>
				<a href ="/article/casual">Casual <span class="sr-only">(current)</span></a> -->
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/casual/">Casual</a></li>
	        	<li><a href="/coctel/">Coctel</a></li>
	        	<li><a href="/zapatos/">Zapatos</a></li>
	        	<li><a href="/accesorios/">Accesorios</a></li>
	        </li>
	        <!-- <li><a href="/article/casual">Casual </a></li>
	        <li><a href="/article/casual">Zapatos </a></li>
	        <li><a href="/article/casual">Ninas </a></li> -->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</div><!-- /.container for fixed to top -->
</nav>
	</section>
{% endblock %}