{% extends 'base.html' %}

{% block content %}
<section class="uno">
		<figcaption class="Pie-Foto">
			<h2>Noviembre</h2>
            <p>Encuentra este mes lo último en tendencias <br> y lucir sensacional.</p>
        </figcaption>
	</section>
	<section id="Ofertas">
		<h2 class="Titulo-Ofertas">Ofertas Especiales</h2>
		<article class="item">
			<figure class="imagen-Item">
				<img src="/img/casual1.jpg"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados <br><a class="link" href="#">Ver Más</a></p>
		</article>
		<article class="item">
			<figure class="imagen-Item">
				<img src="/img/casual1.jpg"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados
			<br><a class="link" href="#">Ver Más</a></p>
		</article>
		<article class="item">
			<figure class="imagen-Item">
				<img src="/img/casual1.jpg"/>
			</figure>
			<h2 class="Promocion">
				<a href="#">
					Sale <br> 40% Off
				</a>
			</h2>
			<p class="Mencion">Solo articulos seleccionados<br>
			<a class="link" href="#">Ver Más</a></p>
		</article>
	</section>
	<section id="lista">
		<article class="seccion">
			<a class="categoria" href="#">Casual</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/casual1.jpg"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" target="_blank" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Coctel</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/casual1.jpg"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Zapatos</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/casual1.jpg"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Accesorios</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/casual1.jpg"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
		<article class="seccion">
			<a class="categoria" href="#">Niñas</a>
			<figure class="img-seccion">
				<a href="#"><img src="/img/casual1.jpg"></a>
			</figure>
			<div class="redes">
				<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" class="icon-facebook"></a>
				<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
				<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
			</div>
			<div class="anotacion">
				<p class="tallas">Vestido en seda ideal para
            eventos nocturnos. <br> Tallas: S M  L</p>
			</div>
		</article>
	</section>
{% endblock %}