@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-twn2nh');
	src:url('fonts/icomoon.eot?#iefix-twn2nh') format('embedded-opentype'),
		url('fonts/icomoon.woff?-twn2nh') format('woff'),
		url('fonts/icomoon.ttf?-twn2nh') format('truetype'),
		url('fonts/icomoon.svg?-twn2nh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}

body
{

	background: #FCFCFC;
	font-family: "Oxygen";
	font-size: 16px;
	padding-top: 70px;
	text-align: center;
}
header
{
	background: #FCFCFC;
	border-bottom: 3px solid #918167;
}
#logo
{
	text-align: center;
	width: 30px;
}
header #logo img
{
	width: 200px;
}
nav
{
	margin: 0;
	padding: 0.5em;
	display: inline-block;
	vertical-align: top;
	right: 0;
	text-align: center;
	top: 0;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
}
nav ul li a
{
	color: #6D6E71;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
nav ul li a:hover
{
	color: #918167;
}
#uno
{
    background-image: url('../img/home/img-container4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    margin-top: 2em;
    padding: 1em 0;
    min-width: 340px;
    position: relative;
    text-align: center;
}
figcaption.Pie-Foto
{
	background: #D0CCCE;
	color: #0A0A0A;
	display: block;
	padding: 1em;
	position: absolute;
	text-align: right;
	margin: 0 0 1em 0;
	bottom: 0;
	width: 368px;
}
figcaption.Pie-Foto p
{
	color: #78787A;
	margin: 0;
}
figure .imagen-Item
{
	margin: 0;
}
.accesorios-item figure
{
	margin: 1em 0 0 0;
	padding: 0;
}
.Pie-Foto h2
{
	color: #FCFCFC;
	margin: 0 0 0.5em 0;
}
#contenido
{
	background-color: #E1D9CC;
	margin: 2em 0 1em 0;
	text-align: center;
}
#contenido .item
{
	background: #F1F2E8;
	margin: 1em;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	min-width: 340px;
	text-align: center;
}
.item
{
	display: inline-block;
	text-align: center;
}
#contenido .item a
{
	color: #918167;
	font-size: 0.9em;
}
#contenido .item .imagen-item
{
	float: left;
	margin: 1em;
}
#contenido .item .Mencion
{
	color: #78787A;
	font-size: 0.8em;
	margin: 0 2em 0 0;
	text-align: right;
}
#contenido .item .imagen-Item img
{
	margin: 0;
	width: 96px;
}
.titulo-ofertas
{
	background-color: #BFB5B9;
	color: #FCFCFC;
	padding: 0.2em;
	text-align: center;
}
.button-menu
{

	display: inline-block;
	right: 0;
	position: absolute;
}

#contenido .item .Promocion
{
	font-size: 1.7em;
	margin: 1em 1em 0 0.5em;
	text-align: right;
}
#contenido .item .Promocion a
{
	color: #78787A;
	text-decoration: none;
}
#lista
{
	background-color: #F1F2F2;
	margin: 1.5em 0 0 0;
}
#lista .seccion
{
	background-color: #FCFCFC;
	border: 1px solid #A7A9AC;
	margin: 1.5em 0.9em;
	text-align: center;
}
.seccion
{
	background-color: #FCFCFC;
	display: inline-block;
}
.seccion .img-seccion
{
	margin: 0.5em;
	padding: 0;
	float: center;

}
.seccion a
{
	color: #78787A;
	font-size: 1.5em;
	text-decoration: none;
	margin: 1em;
}
.seccion figure
{
	margin: 0;
	padding: 0;
}
.seccion .redes a
{
	color: #BFB5B9;
	margin: 0.3em;
}
.anotacion p
{
	color: #78787A;
	margin: 0;
	padding: 1.7em;
	text-align:left;
}
.seccion .categoria
{
	font-size: 1.2em;
}
footer
{
	background-color: #BFB5B9;
	margin: 1.5em 0 0 0;
	text-align: center;
}
.footer-left
{
	color: #FCFCFC;
	display: inline-block;
	vertical-align: top;

}
.footer-left .footer-titulo
{
	font-size: 1.3em;
}
.footer-redes
{
	border-left: 0.1em solid #FCFCFC;
	display: inline-block;
	margin: 1em;
	padding: 0;
	width: 15em;
}
.footer-redes a
{
	color: #FCFCFC;
	font-size: 2.3em;
	margin: 0 0.5em 0 0;
	text-decoration: none;
}
.footer-redes .footer-titulo
{
	color: #FCFCFC;
	font-size: 1.3em;
	margin:0 0 1em 0;
	text-align: center;
	vertical-align: top;
}
