{% block footer %}
<footer id="datos">
		<div class="footer-left">
			<h2 class="footer-titulo">Contacto</h2>
			<p class="footer-descripcion">Cll 109 No 18B-22 of. 202 <br>San Patricio Tel: (571) 7568549 <br>Bogotá - Colombia</p>
		</div>
		<div class="footer-redes">
			<h2 class="footer-titulo">Síguenos</h2>
			<a href="https://www.facebook.com/pages/Ckheaven/319783008072661" class="icon-facebook"></a>
			<a href="http://instagram.com/CKHEAVENBOUTIQUE/" target="_blank" class="icon-instagram"></a>
			<a href="https://twitter.com/CKHEAVENdemoda" target="_blank" class="icon-twitter"></a>
		</div>
</footer>
{% endblock %}